    <div>
        <div class="booking-container">
            <div>
                <h1>Réservations à venir</h1>
            </div>
            <div class="booking-flex">
                <% @upcoming_bookings.each do |booking| %>
                    <div class="card-product">
                        <div>
                            <img src="<%= booking.offer.photo_url%>" />
                        </div>
                        <div class="card-product-infos">
                            <h2><%= booking.offer.title %></h2>
                            <p><i class="fa-solid fa-users"></i> <%= booking.participant_number %> personnes</p>
                            <p><i class="fa-regular fa-calendar"></i> <%= booking.date %> </p>
                            <p><i class="fa-regular fa-money-bill-1"></i> <%= booking.total_price %> </p>  
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <br>
        <div class="booking-container">
            <div>
                <h1>Réservations passées</h1>
            </div>
            <div class="booking-flex">
                <% @past_bookings.each do |booking| %>
                    <div class="card-product">
                        <div>
                            <img src="<%= booking.offer.photo_url%>" />
                        </div>
                        <div class="card-product-infos">
                            <h2><%= booking.offer.title %></h2>
                            <p><i class="fa-solid fa-users"></i> <%= booking.participant_number %> personnes</p>
                            <p><i class="fa-regular fa-calendar"></i> <%= booking.date %> </p>
                            <p><i class="fa-regular fa-money-bill-1"></i> <%= booking.total_price.to_i %>  €</p>  
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
 
