<div class="booking-form">
  <div class="mt-3 text-center">
    <h2>Intéressé ? Remplis le formulaire pour réserver ton expérience !</h2>
  </div>
  <div class="booking-booking">
  <%= simple_form_for [@offer, @booking] do |f| %>
    <div class="booking-line"><i class="fa-regular fa-calendar"></i><div class="booking-input"><%=  %><%= f.input :date, as: :string,
    input_html: { data: { controller: "flatpickr"} } %></div></div>
    <div class="booking-line"><i class="fa-solid fa-users"></i><div class="booking-input"><%= f.input :participant_number %></div></div>
    <div class="booking-comment"><i class="fa-regular fa-comments"></i><%= f.input :comment %></div>
    <div class="booking-button"><%= f.submit%></div>
  <% end %>
</div>
</div>
