  <div class="filter">
  <p>Filtrez votre recherche :</p>
  <br>
  <br>
  </div>
    <div class="offers">
        <% @offers.each do |offer| %>
          <%= link_to(offer_path(offer)) do %>
                <div class="offers-card">
                <img src="<%= offer.photo_url%>" class="img-offers">
                <div class="offers-card-body">
                    <p class="category-font"><%= offer.category.upcase %></p>
                    <h5><%= offer.title %></h5>
                    <p class="duration"><i class="fa-regular fa-clock"></i>    <%= offer.duration.to_i %> heures</p>
                    <p class="price"><%= offer.price_per_participant.to_i %>€ / par personne</p>
               </div>
               </div>
           <% end %>
        <% end %>
    </div>
