<div class = "trait"></div>
<div class="container">
    <h3 class="offer-title"><%= @offer.title %></h3>
    <p class="offers-category"><%= @offer.category.upcase %></p>
    <div class="image-offer">
        <%= image_tag (@offer.photo_url), class: "rounded-4" %>
    </div>
    <div class="description-container">
        <div>
            <h4 class="description">Au programme</h4>
            <p class="offer-description"><%= @offer.description %></p>
        </div>
        <hr>
        <h4 class="description">Détail</h4>
              <ul class="list-description" style="list-style-type:none;display: flex;">
                <li class="list-details"><p><i class="fa-solid fa-users"></i> <%= @offer.capacity %> personne(s)</p></li>
                <li class="list-details"><p><i class="fa-regular fa-clock"></i> <%= @offer.duration.to_i%>h</p></li>
                <li class="list-details"><p><i class="fa-solid fa-location-dot"></i> <%= @offer.address %></p></li>
              </ul>
    </div>
</div>
<br>
<div>
    <%= render "shared/form" %>
</div>
