<div class = "trait"></div>
<div class="container">
    <h3><%= @offer.title %></h3>
    <p class="offers-category"><%= @offer.category.upcase %></p>
    <div class="image-offer">
        <%= image_tag (@offer.photo_url), class: "rounded-4" %>
    </div>
    <div class="description-container">
        <div>
            <h5 class="description">Description :</h5>
            <p class="offer-description"><%= @offer.description %></p>
        </div>
        <div>
            <p><i class="fa-solid fa-users"></i> <%= @offer.capacity %> persons</p>
        </div>
        <div>
            <p><i class="fa-regular fa-clock"></i> <%= @offer.duration.to_i%> h</p>
        </div>
        <div>
            <p><i class="fa-solid fa-location-dot"></i> <%= @offer.address %></p>
        </div>
    </div>
</div>
<br>
<div>
    <%= render "bookings/form" %>
</div>
